.custom-input {
    width: 260px;
    padding: 10px 16px;

    border: 1px solid var(--mat-sys-on-surface);
    border-radius: var(--mat-sys-corner-full);

    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    font: var(--mat-sys-body-medium);

    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-input::placeholder {
    color: var(--mat-sys-on-surface-variant);
}

.custom-input:focus {
    border-color: var(--mat-sys-primary);
    box-shadow: 0 0 0 2px color-mix(in srgb,
            var(--mat-sys-primary) 20%,
            transparent);
}

.input-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid var(--mat-sys-outline);
    border-radius: var(--mat-sys-corner-full);
}

.custom-input {
    width: 100%;
    padding-left: 40px;
    /* space for icon */
    height: 40px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    /* allows clicking inside input */
    font-size: 16px;
    color: #888;
}

.filter-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;
    padding: 0;

    background: transparent;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 10;
}

.filter-button img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.search-icon img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.filter-button:hover img {
    opacity: 1;
}

.search-button {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;
    padding: 0;

    background: transparent;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 10;
}

.search-button img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.search-button:hover img {
    opacity: 1;
}