<div class="car-card">
    <div class="header">
        <div>
            <h3>{{ car.modelName }}</h3>
            <span class="type">{{ car.typeName }}</span>
        </div>

        <button class="like">
            {{ car.isPreferred ? '❤️' : '🤍' }}
        </button>
    </div>

    <img class="car-image" [src]="car.photoURL" alt="car" />

    <div class="features">
        <span>⛽ {{ car.fuelCapacity }}</span>
        <span>⚙ {{ car.isAutomatic ? 'Automatic' : 'Manual' }}</span>
        <span>👥 {{ car.noOfPassengers }} People</span>
    </div>

    <div class="footer">
        <div class="price">
            <strong>${{ car.rentalPrice }}</strong>
            <span>/ day</span>

            <!-- <small *ngIf="car.oldPrice">${{ car.oldPrice }}</small> -->
        </div>

        <button class="rent-btn" (click)="rentNow()">Rent Now</button>
    </div>
</div>