.card {
    background: #ffffff;
    border-radius: 14px;
    padding: 20px 24px;
    border: 1px solid #eef0f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.card-description {
    font-size: 12px;
    color: #374151;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}

.card h4 {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
}

input,
select {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background: #f9fafb;
    font-size: 14px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4f46e5;
    background: #ffffff;
}

:host {
    display: block;
}


.card h3 {
    grid-column: span 2;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

@media (max-width: 768px) {
    .form-group {
        grid-template-columns: 1fr;
    }
}