.gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 28rem;
    justify-content: space-between;
}

.hero {
    background-image: url("/gallery-background.png");
    background-color: #3563e9;
    border-radius: 16px;
    padding: 16px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.hero h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.hero p {
    font-size: 13px;
    opacity: 0.9;
}

.hero img {
    width: 80%;
    max-height: 160px;
    object-fit: cover;
    margin-top: 12px;
    align-self: center;
}

.thumbnails {
    display: flex;
    gap: 12px;
    overflow-x: auto;
}

.thumbnail {
    border-radius: 16px;
    padding: 16px;
    object-fit: contain;
    background: #DDD;
}

.thumbnails img {
    width: 72px;
    height: 48px;
    object-fit: contain;
    border-radius: 8px;
    opacity: 0.6;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnails img.active {
    opacity: 1;
    border-color: #3b5cff;
    background: #AAA;
}

.thumbnail:nth-child(1) {
    background-image: url("/gallery-background.png");
    background-color: #3563e9 !important;
    border-radius: 16px;
    padding: 16px;
    object-fit: contain;
    width: calc(100% - 32px);
}

/* Desktop */
@media (min-width: 1024px) {
    .hero img {
        max-height: 220px;
    }

    .info-card {
        padding: 24px;
    }
}