.analytics-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.analytics-container>*:first-child {
    grid-row: span 2;
}

@media (max-width: 768px) {
    .analytics-container {
        grid-template-columns: 1fr;
    }

    .analytics-container>*:first-child {
        grid-row: auto;
    }
}