.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    a {
        color: #3563e9;
        font-size: 14px;
    }
}

.viewport {
    height: 360px;
    width: 100%;
    overflow: auto;
}

.card-wrapper {
    padding-right: 16px;
}