.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    a {
        color: var(--mat-sys-primary);
        font-size: 14px;
    }
}

.viewport {
    height: 380px;
    width: 100%;
    overflow: auto;
}

.card-wrapper {
    width: var(--car-card-width);
    padding-right: var(--car-card-gap);
    box-sizing: border-box;
    flex-shrink: 0;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
    display: flex;
}

@media (max-width: 640px) {
    .viewport {
        height: 340px;
    }

    .card-wrapper {
        width: 85vw;
        /* Show a bit of the next card on mobile */
    }
}