.header-component {
    position: sticky;
    /* or static if you want */
    top: 0;
    z-index: 100;
    width: 100vw;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.no-cars-found {
    height: calc(100vh - 660px);
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}