<section class="card" [formGroup]="group">
    <h3>Confirmation</h3>

    <div class="confirmation-check-container">
        <input type="checkbox" formControlName="marketing" id="marketing" />
        <label for="marketing">
            I agree to receive marketing emails
        </label>
    </div>

    <div class="confirmation-check-container">
        <input type="checkbox" formControlName="terms" id="terms" />
        <label for="terms">
            I agree to terms & privacy policy
        </label>
    </div>
    @if (group.get('terms')?.invalid && group.get('terms')?.touched) {
    <small class="error-message">You must agree to the terms and privacy policy</small>
    }
</section>