<section class="card" [formGroup]="group">
    <h3>Confirmation</h3>

    <div class="confirmation-check-container">
        <input type="checkbox" formControlName="marketing" id="marketing" />
        <label for="marketing">
            I agree to receive marketing emails
        </label>
    </div>

    <div class="confirmation-check-container">
        <input type="checkbox" formControlName="terms" id="terms" />
        <label for="terms">
            I agree to terms & privacy policy
        </label>
    </div>
</section>