<div class="rental-filter">
    <!-- Pick-Up -->
    <div class="card">
        <div class="card-title">
            <span class="dot"></span>
            <strong>Pick - Up</strong>
        </div>

        <div class="fields">
            <app-location-select title="Location" formControlName="pickUpLocation" variant="inline" />

            <app-form-date title="Date" formControlName="pickUpDateFrom" variant="inline" />

            <app-form-date title="Date" formControlName="pickUpDateTo" variant="inline" />
        </div>
    </div>

    <!-- Swap Button -->
    <button class="swap-btn" (click)="swapLocations()">
        ⇅
    </button>

    <!-- Drop-Off -->
    <div class="card">
        <div class="card-title">
            <span class="dot"></span>
            <strong>Drop - Off</strong>
        </div>

        <div class="fields">
            <app-location-select title="Location" formControlName="dropOffLocation" variant="inline" />

            <app-form-date title="Date" formControlName="dropOffDateFrom" variant="inline" />

            <app-form-date title="Date" formControlName="dropOffDateTo" variant="inline" />
        </div>
    </div>
</div>