<div class="transactions-card">
    <!-- Header -->
    <div class="header">
        <h3 class="title">Recent Transaction</h3>
        <a *ngIf="cars().length" class="view-all">View All</a>
    </div>

    <!-- Loading State -->
    <div *ngIf="loading()" class="state loading">
        <div class="skeleton" *ngFor="let i of [1,2,3,4,5]"></div>
    </div>

    <!-- Empty State -->
    <div *ngIf="!loading() && !cars().length" class="state empty">
        <p>No recent transactions found</p>
    </div>

    <!-- List -->
    <div *ngIf="!loading() && cars().length" class="list">
        <div class="transaction" *ngFor="let car of cars()">
            <img [src]="car.photoURL" alt="car" />

            <div class="info">
                <div class="title">{{ car.modelName }}</div>
                <div class="type">{{ car.typeName }}</div>
            </div>

            <div class="meta">
                <div class="date">{{ car.fuelCapacity| date:'dd MMM' }}</div>
                <div class="price">${{ car.fuelCapacity | number:'1.2-2' }}</div>
            </div>
        </div>
    </div>
</div>