.header-component {
    position: sticky;
    /* or static if you want */
    top: 0;
    z-index: 100;
    width: 100vw;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.promo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

@media (max-width: 768px) {
    .promo-grid {
        grid-template-columns: 1fr;
    }
}