.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    a {
        color: var(--mat-sys-primary);
        font-size: 14px;
    }
}

.viewport {
    height: 396px;
    width: 100%;
    overflow: auto;
}

.card-wrapper {
    width: var(--car-card-width);
    padding-right: 16px;
    box-sizing: border-box;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
    display: flex;
    gap: var(--car-card-gap);
}