.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    a {
        color: var(--mat-sys-primary);
        font-size: 14px;
    }
}

.viewport {
    height: 360px;
    width: 100%;
    overflow: auto;
}

.card-wrapper {
    width: 280px;
    padding-right: 16px;
    box-sizing: border-box;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
    display: flex;
    gap: 3rem;
}