<mat-card class="analysis-card">

    <!-- Header -->
    <div class="header">
        <h3>{{ title }}</h3>
        <button class="menu">•••</button>
    </div>



    <!-- Content -->
    <div class="content">

        <!-- Chart -->
        <div class="chart-wrapper">
            <div echarts [options]="chartOptions" class="chart"></div>

            <div class="chart-center">
                <div class="total">{{ total | number }}</div>
                <div class="label">Rental Car</div>
            </div>
        </div>

        <!-- Legend -->
        <div class="legend">
            <div class="legend-item" *ngFor="let item of items">
                <span class="dot" [style.background]="item.color"></span>
                <span class="name">{{ item.label }}</span>
                <span class="value">{{ item.value | number }}</span>
            </div>
        </div>

    </div>
</mat-card>