<div class="social-auth">
    <div class="divider">
        <span>Or continue with</span>
    </div>
    <div class="social-buttons">
        <button type="button" class="social-btn google" (click)="onSocialLogin('google')">
            <img src="assets/icons/google.svg" alt="Google"
                onerror="this.src='https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png'">
            <span>Google</span>
        </button>
        <button type="button" class="social-btn apple" (click)="onSocialLogin('apple')">
            <img src="assets/icons/apple.svg" alt="Apple"
                onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg'">
            <span>Apple</span>
        </button>
    </div>
</div>