<div class="layout">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <app-billing-info [group]="form.controls.billing" />
        <app-rental-info [group]="form.controls.rental" />
        <app-payment-method [group]="form.controls.payment" />
        <app-confirmation [group]="form.controls.confirmation" />

        <button type="submit" class="btn-primary" [disabled]="isLoading()">
            {{ isLoading() ? 'Processing...' : 'Rent Now' }}
        </button>
    </form>

    @if (car(); as data) {
    <app-rental-summary [carName]="data.modelName" [carImage]="data.photoURL" [subtotal]="data.rentalPrice" />
    }
</div>